<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Task title</mat-label>
    <input formControlName="title" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Task description</mat-label>
    <textarea formControlName="description" matInput placeholder="Placeholder"></textarea>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input formControlName="createdAt" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <button (click)="submit()" mat-raised-button color="primary">Submit</button>

</form>

