<mat-expansion-panel *ngIf="task" [style.opacity]="task.status === 'DONE' ? '50%' : ''"
                     [expanded]="localStorage.getItem('opened-' + task.id) === 'true'"
                     (expandedChange)="
                     localStorage.setItem('opened-' + task.id, $event.toString())"
>
  <mat-expansion-panel-header>
    <mat-panel-title [matTooltip]="task.title" [style.text-decoration]="task.status === 'DONE' ? 'line-through' : ''">
      {{task.title}}
    </mat-panel-title>
    <mat-panel-description [matTooltip]="task.description" [style.text-decoration]="task.status === 'DONE' ? 'line-through' : ''">
      <b class="task-dueDate" style="width: 110px">{{task.dueDate ? (task.dueDate | date) : '---'}}</b>
      <span class="task-description">{{task.description }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{task.description}}</p>
  <section class="actions">
    <mat-checkbox (change)="changeTaskStatus.emit(task)" [checked]="task.status === 'DONE'">Mark as done.</mat-checkbox>
    <section>
      <button mat-button (click)="editTask.emit(task)" *ngIf="task.status == 'ACTIVE'">Edit</button>
      <button mat-stroked-button (click)="deleteTask.emit(task)" color="warn">Delete</button>
    </section>
  </section>
</mat-expansion-panel>
