.actions {
  display: flex;
  justify-content: space-between;
}

mat-panel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media (min-width: 600px) {
  mat-panel-title {
    font-size: 1.2rem;
  }
}



mat-panel-description{
  max-width: 60%;
}

.task-description {
  width: calc(100% - 110px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media (max-width: 600px) {
  .task-description {
    display: none;
  }
}
